.simple-calendar {
    width: 100%;
    padding: 10px;
    font-size: 12px;
    .heading{
        font-size: 20px;
    }
}

.simple-calendar-cell {
    text-align: center;
    padding: 0.5vw 5px;
}

.weekday {
    color: #cacaca;
}

.simple-calendar-day {
    -webkit-transition: background-color 100ms linear, color 100ms linear;
    -ms-transition: background-color 100ms linear, color 100ms linear;
    transition: background-color 100ms linear, color 100ms linear;
}

@media (min-width: 1000px) {
    button {
        font-size: 1.2em;
    }
}

@media (min-width: 1200px) {
    button {
        font-size: 1.4em;
    }
}
